<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingShop.dao.BoardDao">

   <select id="selectBoardListAll" resultType="com.shoppingShop.domain.BoardDto">
      SELECT notice_id, title, user_id, content, created_at, updated_at
      FROM notice
   </select>

</mapper>