<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingShop.dao.ProductDao">
    <select id="selectProductAll" resultType="com.shoppingShop.domain.ProductDto">
        SELECT *
        FROM product p
                 JOIN sub_category sc ON sc.category_id = p.category_id
        WHERE sc.sub_category_id = #{subCategoryId};
    </select>

    <select id="selectProductDetail" resultType="com.shoppingShop.domain.ProductDto">
        SELECT *
          FROM product p
         WHERE p.pro_id = #{proId};
    </select>

    <select id="selectAllProducts" resultType="com.shoppingShop.domain.ProductDto">
        SELECT *
        FROM product;
    </select>
</mapper>